<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [3]:
%sql mysql+pymysql://root:password@localhost/mangalica

In [ ]:
#%sql ibm_db_sa://

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [8]:
%sql select distinct Launch_site from spaceX

 * mysql+pymysql://root:***@localhost/mangalica
4 rows affected.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [12]:
%sql SELECT * FROM spaceX WHERE Launch_site LIKE 'CCA%' LIMIT 5;

 * mysql+pymysql://root:***@localhost/mangalica
5 rows affected.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) FROM spaceX WHERE Customer LIKE 'NASA (CRS)'

 * mysql+pymysql://root:***@localhost/mangalica
1 rows affected.

[(Decimal('45596'),)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [18]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) FROM spaceX WHERE Booster_Version LIKE 'F9 v1.1';

 * mysql+pymysql://root:***@localhost/mangalica
1 rows affected.

[(Decimal('2928.4000'),)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [24]:
%sql SELECT DISTINCT(`Landing _Outcome`) FROM spaceX;

 * mysql+pymysql://root:***@localhost/mangalica
11 rows affected.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [28]:
%sql SELECT MIN(Date) FROM spaceX WHERE `Landing _Outcome` LIKE 'Success (ground pad)';

 * mysql+pymysql://root:***@localhost/mangalica
1 rows affected.

[('01-05-2017',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [33]:
%sql SELECT Booster_Version FROM spaceX WHERE `Landing _Outcome` LIKE 'Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;

 * mysql+pymysql://root:***@localhost/mangalica
4 rows affected.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [36]:
%%sql
SELECT Booster_Version FROM spaceX WHERE `Landing _Outcome` LIKE 'Success (drone ship)'
AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;

 * mysql+pymysql://root:***@localhost/mangalica
4 rows affected.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [ ]:
%sql SELECT * FROM spaceX WHERE Booster_Version LIKE 'F9 FT B1022';

### Task 7

##### List the total number of successful and failure mission outcomes

In [39]:
%sql SELECT Mission_Outcome, COUNT(Mission_Outcome) FROM spaceX GROUP BY Mission_Outcome;

 * mysql+pymysql://root:***@localhost/mangalica
4 rows affected.

[('Success', 98),
 ('Failure (in flight)', 1),
 ('Success (payload status unclear)', 1),
 ('Success ', 1)]

In [42]:
%sql SELECT Mission_Outcome, COUNT(Mission_Outcome) FROM spaceX WHERE Mission_Outcome LIKE 'Success ';

 * mysql+pymysql://root:***@localhost/mangalica
1 rows affected.

[('Success ', 1)]

In [40]:
%sql SELECT DISTINCT Mission_Outcome FROM spaceX;

 * mysql+pymysql://root:***@localhost/mangalica
4 rows affected.

[('Success',),
 ('Failure (in flight)',),
 ('Success (payload status unclear)',),
 ('Success ',)]

In [48]:
%%sql 
UPDATE spaceX
SET Mission_Outcome = RTRIM(Mission_Outcome);

 * mysql+pymysql://root:***@localhost/mangalica
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'RETURN Mission_Outcome FROM spaceX' at line 2")
[SQL: UPDATE spaceX SET Mission_Outcome = RTRIM(Mission_Outcome)
RETURN Mission_Outcome FROM spaceX;]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [45]:
%sql SELECT Mission_Outcome, COUNT(Mission_Outcome) FROM spaceX GROUP BY Mission_Outcome;

 * mysql+pymysql://root:***@localhost/mangalica
3 rows affected.

[('Success', 99),
 ('Failure (in flight)', 1),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [51]:
%sql SELECT MAX(PAYLOAD_MASS__KG_) FROM spaceX

 * mysql+pymysql://root:***@localhost/mangalica
1 rows affected.

[(15600,)]

In [50]:
%%sql 
SELECT booster_version FROM spaceX
WHERE PAYLOAD_MASS__KG_ LIKE
(SELECT MAX(PAYLOAD_MASS__KG_) FROM spaceX);

 * mysql+pymysql://root:***@localhost/mangalica
12 rows affected.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

In [52]:
%%sql 
SELECT booster_version FROM spaceX
WHERE PAYLOAD_MASS__KG_ =
(SELECT MAX(PAYLOAD_MASS__KG_) FROM spaceX);

 * mysql+pymysql://root:***@localhost/mangalica
12 rows affected.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [54]:
%%sql 
SELECT DISTINCT `Landing _Outcome` FROM spaceX
;

 * mysql+pymysql://root:***@localhost/mangalica
11 rows affected.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [55]:
%%sql 
SELECT * FROM spaceX WHERE `Landing _Outcome` = 'Failure (drone ship)';

 * mysql+pymysql://root:***@localhost/mangalica
5 rows affected.

[('10-01-2015', '09:47:00', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('14-04-2015', '20:10:00', 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('17-01-2016', '18:42:00', 'F9 v1.1 B1017', 'VAFB SLC-4E', 'Jason-3', 553, 'LEO', 'NASA (LSP) NOAA CNES', 'Success', 'Failure (drone ship)'),
 ('04-03-2016', '23:35:00', 'F9 FT B1020', 'CCAFS LC-40', 'SES-9', 5271, 'GTO', 'SES', 'Success', 'Failure (drone ship)'),
 ('15-06-2016', '14:29:00', 'F9 FT B1024', 'CCAFS LC-40', 'ABS-2A Eutelsat 117 West B', 3600, 'GTO', 'ABS Eutelsat', 'Success', 'Failure (drone ship)')]

In [57]:
%%sql 
SELECT * FROM spaceX WHERE YEAR(Date) = 2015;

 * mysql+pymysql://root:***@localhost/mangalica
0 rows affected.

[]

In [61]:
%%sql
SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS 
  WHERE table_name = 'spaceX' AND COLUMN_NAME = 'PAYLOAD_MASS__KG_';

 * mysql+pymysql://root:***@localhost/mangalica
1 rows affected.

[('int',)]

In [62]:
%sql SHOW COLUMNS FROM spaceX

 * mysql+pymysql://root:***@localhost/mangalica
10 rows affected.

[('Date', 'text', 'YES', '', None, ''),
 ('Time (UTC)', 'text', 'YES', '', None, ''),
 ('Booster_Version', 'text', 'YES', '', None, ''),
 ('Launch_Site', 'text', 'YES', '', None, ''),
 ('Payload', 'text', 'YES', '', None, ''),
 ('PAYLOAD_MASS__KG_', 'int', 'YES', '', None, ''),
 ('Orbit', 'text', 'YES', '', None, ''),
 ('Customer', 'text', 'YES', '', None, ''),
 ('Mission_Outcome', 'text', 'YES', '', None, ''),
 ('Landing _Outcome', 'text', 'YES', '', None, '')]

In [63]:
%sql SHOW FIELDS FROM spaceX

 * mysql+pymysql://root:***@localhost/mangalica
10 rows affected.

[('Date', 'text', 'YES', '', None, ''),
 ('Time (UTC)', 'text', 'YES', '', None, ''),
 ('Booster_Version', 'text', 'YES', '', None, ''),
 ('Launch_Site', 'text', 'YES', '', None, ''),
 ('Payload', 'text', 'YES', '', None, ''),
 ('PAYLOAD_MASS__KG_', 'int', 'YES', '', None, ''),
 ('Orbit', 'text', 'YES', '', None, ''),
 ('Customer', 'text', 'YES', '', None, ''),
 ('Mission_Outcome', 'text', 'YES', '', None, ''),
 ('Landing _Outcome', 'text', 'YES', '', None, '')]

In [69]:
%%sql 
UPDATE spaceX2
SET Date = STR_TO_DATE(Date,'%d-%m-%Y');

 * mysql+pymysql://root:***@localhost/mangalica
101 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [66]:
%sql SELECT * FROM spaceX2 LIMIT 5

 * mysql+pymysql://root:***@localhost/mangalica
5 rows affected.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [68]:
%sql SELECT STR_TO_DATE(Date,'%d-%m-%Y') FROM spacex2

 * mysql+pymysql://root:***@localhost/mangalica
101 rows affected.

[(datetime.date(2010, 6, 4),),
 (datetime.date(2010, 12, 8),),
 (datetime.date(2012, 5, 22),),
 (datetime.date(2012, 10, 8),),
 (datetime.date(2013, 3, 1),),
 (datetime.date(2013, 9, 29),),
 (datetime.date(2013, 12, 3),),
 (datetime.date(2014, 1, 6),),
 (datetime.date(2014, 4, 18),),
 (datetime.date(2014, 7, 14),),
 (datetime.date(2014, 8, 5),),
 (datetime.date(2014, 9, 7),),
 (datetime.date(2014, 9, 21),),
 (datetime.date(2015, 1, 10),),
 (datetime.date(2015, 2, 11),),
 (datetime.date(2015, 3, 2),),
 (datetime.date(2015, 4, 14),),
 (datetime.date(2015, 4, 27),),
 (datetime.date(2015, 6, 28),),
 (datetime.date(2015, 12, 22),),
 (datetime.date(2016, 1, 17),),
 (datetime.date(2016, 3, 4),),
 (datetime.date(2016, 4, 8),),
 (datetime.date(2016, 5, 6),),
 (datetime.date(2016, 5, 27),),
 (datetime.date(2016, 6, 15),),
 (datetime.date(2016, 7, 18),),
 (datetime.date(2016, 8, 14),),
 (datetime.date(2017, 1, 14),),
 (datetime.date(2017, 2, 19),),
 (datetime.date(2017, 3, 16),),
 (datetime.date(2017, 3, 30),),
 (datetime.date(2017, 5, 1),),
 (datetime.date(2017, 5, 15),),
 (datetime.date(2017, 6, 3),),
 (datetime.date(2017, 6, 23),),
 (datetime.date(2017, 6, 25),),
 (datetime.date(2017, 7, 5),),
 (datetime.date(2017, 8, 14),),
 (datetime.date(2017, 8, 24),),
 (datetime.date(2017, 9, 7),),
 (datetime.date(2017, 10, 9),),
 (datetime.date(2017, 10, 11),),
 (datetime.date(2017, 10, 30),),
 (datetime.date(2017, 12, 15),),
 (datetime.date(2017, 12, 23),),
 (datetime.date(2018, 1, 8),),
 (datetime.date(2018, 1, 31),),
 (datetime.date(2018, 2, 22),),
 (datetime.date(2018, 3, 6),),
 (datetime.date(2018, 3, 30),),
 (datetime.date(2018, 4, 2),),
 (datetime.date(2018, 4, 18),),
 (datetime.date(2018, 5, 11),),
 (datetime.date(2018, 5, 22),),
 (datetime.date(2018, 6, 4),),
 (datetime.date(2018, 6, 29),),
 (datetime.date(2018, 7, 22),),
 (datetime.date(2018, 7, 25),),
 (datetime.date(2018, 8, 7),),
 (datetime.date(2018, 9, 10),),
 (datetime.date(2018, 10, 8),),
 (datetime.date(2018, 11, 15),),
 (datetime.date(2018, 12, 3),),
 (datetime.date(2018, 12, 5),),
 (datetime.date(2018, 12, 23),),
 (datetime.date(2019, 1, 11),),
 (datetime.date(2019, 2, 22),),
 (datetime.date(2019, 3, 2),),
 (datetime.date(2019, 5, 4),),
 (datetime.date(2019, 5, 24),),
 (datetime.date(2019, 6, 12),),
 (datetime.date(2019, 7, 25),),
 (datetime.date(2019, 8, 6),),
 (datetime.date(2019, 11, 11),),
 (datetime.date(2019, 12, 5),),
 (datetime.date(2019, 12, 17),),
 (datetime.date(2020, 1, 7),),
 (datetime.date(2020, 1, 19),),
 (datetime.date(2020, 1, 29),),
 (datetime.date(2020, 2, 17),),
 (datetime.date(2020, 3, 7),),
 (datetime.date(2020, 3, 18),),
 (datetime.date(2020, 4, 22),),
 (datetime.date(2020, 5, 30),),
 (datetime.date(2020, 6, 4),),
 (datetime.date(2020, 6, 13),),
 (datetime.date(2020, 6, 30),),
 (datetime.date(2020, 7, 20),),
 (datetime.date(2020, 8, 7),),
 (datetime.date(2020, 8, 18),),
 (datetime.date(2020, 8, 30),),
 (datetime.date(2020, 9, 3),),
 (datetime.date(2020, 10, 6),),
 (datetime.date(2020, 10, 18),),
 (datetime.date(2020, 10, 24),),
 (datetime.date(2020, 11, 5),),
 (datetime.date(2020, 11, 16),),
 (datetime.date(2020, 11, 21),),
 (datetime.date(2020, 11, 25),),
 (datetime.date(2020, 12, 6),)]

In [70]:
%sql SELECT * FROM spaceX2 LIMIT 5

 * mysql+pymysql://root:***@localhost/mangalica
5 rows affected.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [71]:
%%sql 
SELECT * FROM spaceX2 WHERE YEAR(Date) = 2015;

 * mysql+pymysql://root:***@localhost/mangalica
7 rows affected.

[('2015-01-10', '09:47:00', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-02-11', '23:03:00', 'F9 v1.1 B1013', 'CCAFS LC-40', 'DSCOVR', 570, 'HEO', 'U.S. Air Force NASA NOAA', 'Success', 'Controlled (ocean)'),
 ('2015-03-02', '03:50:00', 'F9 v1.1 B1014', 'CCAFS LC-40', 'ABS-3A Eutelsat 115 West B', 4159, 'GTO', 'ABS Eutelsat', 'Success', 'No attempt'),
 ('2015-04-14', '20:10:00', 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-04-27', '23:03:00', 'F9 v1.1 B1016', 'CCAFS LC-40', 'Turkmen 52 / MonacoSAT', 4707, 'GTO', 'Turkmenistan National Space Agency', 'Success', 'No attempt'),
 ('2015-06-28', '14:21:00', 'F9 v1.1 B1018', 'CCAFS LC-40', 'SpaceX CRS-7', 1952, 'LEO (ISS)', 'NASA (CRS)', 'Failure (in flight)', 'Precluded (drone ship)'),
 ('2015-12-22', '01:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)')]

In [74]:
%%sql 
SELECT * FROM spaceX2 WHERE `Landing _Outcome` = 'Failure (drone ship)'

 * mysql+pymysql://root:***@localhost/mangalica
5 rows affected.

[('2015-01-10', '09:47:00', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-04-14', '20:10:00', 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2016-01-17', '18:42:00', 'F9 v1.1 B1017', 'VAFB SLC-4E', 'Jason-3', 553, 'LEO', 'NASA (LSP) NOAA CNES', 'Success', 'Failure (drone ship)'),
 ('2016-03-04', '23:35:00', 'F9 FT B1020', 'CCAFS LC-40', 'SES-9', 5271, 'GTO', 'SES', 'Success', 'Failure (drone ship)'),
 ('2016-06-15', '14:29:00', 'F9 FT B1024', 'CCAFS LC-40', 'ABS-2A Eutelsat 117 West B', 3600, 'GTO', 'ABS Eutelsat', 'Success', 'Failure (drone ship)')]

In [77]:
%%sql 
SELECT `Landing _Outcome`, Booster_Version, Launch_Site FROM spaceX2
WHERE `Landing _Outcome` = 'Failure (drone ship)' AND YEAR(Date) = 2015;

 * mysql+pymysql://root:***@localhost/mangalica
2 rows affected.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [92]:
%sql SELECT * FROM spaceX2 WHERE Date = '2015-01-10'

 * mysql+pymysql://root:***@localhost/mangalica
1 rows affected.

[('2015-01-10', '09:47:00', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)')]

In [93]:
%sql SELECT * FROM spaceX2 WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'

 * mysql+pymysql://root:***@localhost/mangalica
31 rows affected.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2013-12-03', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-01-06', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)'),
 ('2014-08-05', '08:00:00', 'F9 v1.1', 'CCAFS LC-40', 'AsiaSat 8', 4535, 'GTO', 'AsiaSat', 'Success', 'No attempt'),
 ('2014-09-07', '05:00:00', 'F9 v1.1 B1011', 'CCAFS LC-40', 'AsiaSat 6', 4428, 'GTO', 'AsiaSat', 'Success', 'No attempt'),
 ('2014-09-21', '05:52:00', 'F9 v1.1 B1010', 'CCAFS LC-40', 'SpaceX CRS-4', 2216, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Uncontrolled (ocean)'),
 ('2015-01-10', '09:47:00', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-02-11', '23:03:00', 'F9 v1.1 B1013', 'CCAFS LC-40', 'DSCOVR', 570, 'HEO', 'U.S. Air Force NASA NOAA', 'Success', 'Controlled (ocean)'),
 ('2015-03-02', '03:50:00', 'F9 v1.1 B1014', 'CCAFS LC-40', 'ABS-3A Eutelsat 115 West B', 4159, 'GTO', 'ABS Eutelsat', 'Success', 'No attempt'),
 ('2015-04-14', '20:10:00', 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-04-27', '23:03:00', 'F9 v1.1 B1016', 'CCAFS LC-40', 'Turkmen 52 / MonacoSAT', 4707, 'GTO', 'Turkmenistan National Space Agency', 'Success', 'No attempt'),
 ('2015-06-28', '14:21:00', 'F9 v1.1 B1018', 'CCAFS LC-40', 'SpaceX CRS-7', 1952, 'LEO (ISS)', 'NASA (CRS)', 'Failure (in flight)', 'Precluded (drone ship)'),
 ('2015-12-22', '01:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)'),
 ('2016-01-17', '18:42:00', 'F9 v1.1 B1017', 'VAFB SLC-4E', 'Jason-3', 553, 'LEO', 'NASA (LSP) NOAA CNES', 'Success', 'Failure (drone ship)'),
 ('2016-03-04', '23:35:00', 'F9 FT B1020', 'CCAFS LC-40', 'SES-9', 5271, 'GTO', 'SES', 'Success', 'Failure (drone ship)'),
 ('2016-04-08', '20:43:00', 'F9 FT B1021.1', 'CCAFS LC-40', 'SpaceX CRS-8', 3136, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (drone ship)'),
 ('2016-05-06', '05:21:00', 'F9 FT B1022', 'CCAFS LC-40', 'JCSAT-14', 4696, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 ('2016-05-27', '21:39:00', 'F9 FT B1023.1', 'CCAFS LC-40', 'Thaicom 8', 3100, 'GTO', 'Thaicom', 'Success', 'Success (drone ship)'),
 ('2016-06-15', '14:29:00', 'F9 FT B1024', 'CCAFS LC-40', 'ABS-2A Eutelsat 117 West B', 3600, 'GTO', 'ABS Eutelsat', 'Success', 'Failure (drone ship)'),
 ('2016-07-18', '04:45:00', 'F9 FT B1025.1', 'CCAFS LC-40', 'SpaceX CRS-9', 2257, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2016-08-14', '05:26:00', 'F9 FT B1026', 'CCAFS LC-40', 'JCSAT-16', 4600, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 ('2017-01-14', '17:54:00', 'F9 FT B1029.1', 'VAFB SLC-4E', 'Iridium NEXT 1', 9600, 'Polar LEO', 'Iridium Communications', 'Success', 'Success (drone ship)'),
 ('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2017-03-16', '06:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt')]

In [95]:
%%sql
SELECT `Landing _Outcome`, COUNT(`Landing _Outcome`) FROM
(SELECT * FROM spaceX2 WHERE Date BETWEEN 2010-06-04 AND 2017-03-20) as tbl

 * mysql+pymysql://root:***@localhost/mangalica
1 rows affected.

[(None, 0)]

In [94]:
%%sql
SELECT `Landing _Outcome`, COUNT(`Landing _Outcome`) FROM spaceX2 WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY `Landing _Outcome`
ORDER BY COUNT(`Landing _Outcome`) DESC

 * mysql+pymysql://root:***@localhost/mangalica
8 rows affected.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>